{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module",
        "ecmaVersion": 2022
    },
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-type-checked",
        "plugin:prettier/recommended",
        "plugin:unicorn/recommended",
        "plugin:node/recommended"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "printWidth": 120,
                "tabWidth": 4,
                "useTabs": false,
                "semi": false,
                "singleQuote": true,
                "trailingComma": "none",
                "bracketSpacing": true,
                "arrowParens": "avoid",
                "endOfLine": "auto"
                // "parser": "flow"
            }
        ],
        "unicorn/prefer-module": "off",
        "unicorn/prefer-top-level-await": "off",
        "unicorn/prevent-abbreviations": "off",
        "unicorn/no-null": "off",
        "no-console": "warn",
        "node/no-missing-import": "off",
        "node/no-unsupported-features/es-syntax": ["error", {"ignores": ["modules"]}],
        "node/no-unpublished-import": "off",
        "no-process-exit": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-argument": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-redundant-type-constituents": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-misused-promises": "off",
        "no-multi-spaces": "off"
    },
    "overrides": [
        {
            "files": ["scripts/**"],
            "rules": {
                "no-console": "off"
            }
        },
        {
            "files": ["tests/**"],
            "plugins": ["vitest"],
            "extends": ["plugin:vitest/recommended"],
            "rules": {
                "@typescript-eslint/unbound-method": "off",
                "vitest/expect-expect": "off",
                "vitest/no-standalone-expect": "off"
            }
        },
        {
            "files": ["tests/performance/**"],
            "rules": {
                "unicorn/numeric-separators-style": "off",
                "unicorn/no-anonymous-default-export": "off",
                "@typescript-eslint/no-unsafe-call": "off",
                "@typescript-eslint/no-unsafe-assignment": "off",
                "@typescript-eslint/no-unsafe-member-access": "off",
                "no-undef": "off"
            }
        }
    ],
    "env": {
        "node": true
    }
}
